.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
    gap: 100px;
    justify-content: center;
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
}

.filtros-container{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
}