.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
    gap: 50px;
    justify-content: center;
    font-family: var(--fonte-principal);
    padding-left: 54px; 
    padding-right: 54px;
    box-sizing: border-box;
    margin: 0 auto;
}

.filtros-container{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
}