<footer class="site-footer">
    <div class="footer-logo">
        <img src="/img/logo.clara.png">
    </div>

    <div class="footer-social">
        <a href="https://www.instagram.com/conectajr/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="+55 47 8408-0148" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://github.com/Gregory-Santos/git-coffee.git" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>