<div class="footer-component">
    <footer class="site-footer">
    <div class="footer-logo">
        <img src="/img/logo.clara.png">
    </div>

    <div class="footer-social">
        <a href="https://www.instagram.com/conectajr/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/5547984080148" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.facebook.com/henrique.delegrego?comment_id=Y29tbWVudDoxNDA1MTQ2ODc1Njk5MzBfMTQwNzU3NjgwODc4OTY0"
            aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://github.com/Gregory-Santos/git-coffee.git" aria-label="GitHub"><i
                class="fa-brands fa-github"></i></a>
    </div>
</footer>
</div>