<div class="header-component">
    <div class="logo">
        <img src="img/gitcoffe.png" alt="Logo do Git Coffee">
      
    </div>

    <nav>
        <a routerLink="/home" routerLinkActive="pagina-ativa">Home</a>
        <a routerLink="/produtos" routerLinkActive="pagina-ativa">produtos</a>
        <a routerLink="/categoria" routerLinkActive="pagina-ativa">Categoria</a>
        <a routerLink="/sobre" routerLinkActive="pagina-ativa">Sobre</a>
    </nav>
    
    <form (submit)="pesquisarProduto($event)">
        <input type="text" placeholder="Digite o Id do usuário" [formField]="pesquisaForm">
        <button [disabled]="pesquisaForm().invalid()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

sasasasa
    
    <nav>
        <a routerLink="/home" routerLinkActive="pagina-ativa">
            <i class="fa-regular fa-user"></i>
        </a>
        <a routerLink="/home" routerLinkActive="pagina-ativa">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </nav>

</div>>


