.header-component {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;

    padding: 0 30px;
    box-sizing: border-box;

    background-color: #f5f1eb;
    border-bottom: 1px solid #b8b0a6;

    font-family: Arial, sans-serif;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;

    width: 220px;
}

.logo img {
    width: 150px;
    height: auto;
    object-fit: contain;
}


/* PESQUISA */

.header-component form {
    display: flex;
    align-items: center;

    width: 300px;
    height: 38px;

    margin-left: auto;
    margin-right: 35px;

    background-color: #ffffff;
    border-radius: 10px;

    overflow: hidden;
}

.header-component input {
    flex: 1;

    height: 100%;

    padding: 0 15px;

    border: none;
    outline: none;

    background: transparent;

    font-size: 13px;
    color: #333;
}

.header-component input::placeholder {
    color: #999;
}


/* BOTÃO DA PESQUISA */

.header-component form button {
    width: 45px;
    height: 100%;

    border: none;
    background: transparent;

    font-size: 18px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-component form button:hover {
    background-color: #eeeae4;
}


/* MENU */

nav {
    display: flex;
    align-items: center;

    gap: 30px;
}

nav a {
    color: #555;

    text-decoration: none;

    font-size: 13px;
    font-weight: 400;

    transition: 0.2s;
}

nav a:hover {
    color: #111;
}

nav a.pagina-ativa {
    color: #111;
    font-weight: 600;
}

i{
    transition: 0.2s;
}

i:hover{
    background-color: var(--cor-botao);
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--cor-texto-claro);
}