/*Container dos filtros*/

.filtros-container {
    width: 100%;
    position: relative;
    padding-bottom: 45px;
    padding-top: 35px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}


/*Botão de filtros*/

.btn-filtros {
    padding: 8px 16px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--cor-botao);
    color: var(--cor-texto-claro);
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}



.btn-filtros:hover {
    background-color: var(--cor-botao-hover);
    transform: translateY(-2px);
}


.filtros {
    width: 220px;
    position: absolute;
    top: 80px;
    right: 70px;
    z-index: 10;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 29px;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    background-color: var(--cor-botao);
    box-shadow: 0 8px 20px rgba(16, 15, 14, 0.12);
    animation: abrirFiltros 0.2s ease;
}


@keyframes abrirFiltros {

    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}



.filtro {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


/* LABEL */

.filtro label {
    font-size: 10px;
    font-weight: 600;
    color: var(--cor-texto-claro);
    font-family: var(--fonte-principal);
}


/* INPUT E SELECT */

.filtro input,
.filtro select {
    width: 170px;
    height: 20px;
    padding: 0 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 9px;
    background-color: var(--cor-elementos);
    color: var(--cor-texto-escuro);
    font-size: 15px;
    font-family: var(--fonte-principal);
    outline: none;
}


/* BOTÕES */

.btn {
    display: flex;
    gap: 10px;
}


.btn button {
    height: 30px;
    padding: 0 18px;
    border: none;
    border-radius: 9px;
    background-color: var(--cor-botao-hover);
    color: var(--cor-texto-claro);
    font-family: var(--fonte-principal);
    font-weight: 600;
    cursor: pointer;
}


.btn button:hover {
    background-color: var(--cor-botao-hover);
}


/* BOTÃO LIMPAR */

.btn .btn-reset {
    background-color: transparent;
    border: 1px solid var(--cor-botao);
    color: var(--cor-texto-claro);
}


/* CELULAR */

@media (max-width: 768px) {

    .filtros {
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
    }


    .filtro input,
    .filtro select {
        width: 100%;
    }


    .btn {
        flex-direction: column;
    }


    .btn button {
        width: 100%;
    }
}