<main class="login-page">

    @if (tipoUsuario === '') {
    <section class="login-card">

        <h1>Bem Vindo!</h1>

        <form>

            <div class="field">

                <label for="email">
                    Email
                </label>

                <input
                        id="email"
                        type="email"
                        #email
                        autocomplete="off"
                    >

            </div>

            <div class="field">

                <label for="senha">
                    Senha
                </label>

                <input
                    id="senha"
                    type="password"
                    #senha
                    autocomplete="off"
                >

            </div>

            @if (mensagem) {
                <p class="mensagem-erro">
                    {{ mensagem }}
                </p>
            }
        

            <button
                   class="login-button"
                    type="button"
                    (click)="login(email.value, senha.value)"
            >
                Login
            </button>

        </form>
    

        <button
            class="forgot-password"
            type="button"
        >
            Esqueceu a senha?
        </button>

        <div class="other-login">

            <span>Outras formas</span>

            <div class="social-buttons">

                <a href="https://accounts.google.com" target="_blank">
                    <button
                        class="social google"
                        type="button"
                    >
                        G
                    </button>
                </a>

                <a href="https://www.linkedin.com/" target="_blank">
                    <button
                        class="social linkedin"
                        type="button"
                    >
                        in
                    </button>
                </a>

                <a href="https://www.facebook.com/" target="_blank">
                    <button
                        class="social facebook"
                        type="button"
                    >
                        f
                    </button>
                </a>

            </div>

        </div>

        <div class="separator">
            <span>Ou</span>
        </div>

        <button
            class="register-button"
            type="button"
            (click)='login(email.value, senha.value)'
        >
            Cadastre-se!
        </button>

    </section>
}

    @if (tipoUsuario === 'admin') {

        <app-administrador></app-administrador>
    }

</main>