/*Configuração do card global carrinho*/
.card-carrinho {
    display: inline-block;
    vertical-align: top;
    width: 823px;
    height: auto;
    min-height: 800px;
    background-color: #F9F6F1;
    font-family: 'instrument-sans', sans-serif;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 13px;
    margin-left: 26px;
    margin-top: 32px;

}

.container-carrinho {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    min-height: calc(100vh - 200px);
}

/*espaço acima da descrição de produto no carrinho*/
.espaco-topo h1 {
    font-size: 20px;
    margin-top: 0px;
    color: #423E3C;
    font-weight: 600;
    font-family: 'instrument-sans', sans-serif;
}

.espaco-topo {
    width: 100%;
    height: 70px;
}

.espaco-topo hr {
    width: calc(100% + 60px);
    margin-left: -30px;
    border: none;
    border-top: 2px solid #685447F0;
}

/*Configuração do card global produto*/
.produto {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 662px;
    height: 169px;
    margin-left: 24px;
    border-bottom: 1px solid #685447F0;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.produto+.produto {
    margin-top: 10px;
}

/*Configuração img dos produtos*/

img {
    height: 169px;
    width: 100%;
    object-fit: cover;
}

.imagem-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/*botão de excluir*/
.produto button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;

}

/*Class Descrição do produto*/

.descricao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    flex: 1;
    min-height: 159px;
}

.descricao h1 {
    margin: 0;
    font-size: 20px;
    font-family: 'instrument-sans', sans-serif;
    font-weight: 700;
    color: #000000;
}


.descricao p {
    flex-basis: 100%;
    margin: 0;
    font-family: 'instrument-sans', sans-serif;
    color: #4C4C4C;
    font-size: 15px;
    font-weight: 500;

}

.produto span {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 6px;

}

/*config geral icone de lixeira*/
i {
    font-size: 18px;
    color: var(--cor-texto-cinza);
    font-weight: 500;
    width: 21px;
    height: 21px;
    margin-top: 1px;
}

/*Botão de remover produto, aumentar e diminuir quantidade*/

.quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 24px;
    font-size: 16px;
    border: 1px solid #4C4C4C;
    border-radius: 13px;
    gap: 0px;
    margin-top: 40px;
}

.btn-quantidade {
    padding: 0 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #4C4C4C;
}


.quantidade span {
    font-size: 16px;
    min-width: 20px;
    text-align: center;
    color: var(--cor-texto-cinza);
    font-weight: 600;
    margin-left: 10px;
}

.unidade {
    font-size: 12px;
    color: var(--cor-texto-cinza);
}

/*Card de resumo de compra css global e titulo*/

.card-resumoCompra {
    display: inline-block;
    vertical-align: top;
    width: 451px;
    height: 454px;
    background-color: #F9F6F1;
    border-radius: 13px;
    margin-left: 0;
    margin-top: 29px;
}

.card-resumoCompra h1 {
    font-size: 20px;
    margin-left: 15px;
    color: #423E3C;
    margin: 25px;

}

.card-resumoCompra hr {
    border-top: 2px solid #685447F0;
    margin: 20px 0;
}

/*Produto e quantidade, envio*/
.produto-frete {
    width: 400px;
    height: auto;
    margin-top: 9px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
}

.produto-frete p {
    margin: 0;
    font-size: 18px;
}

/*valores de produto e envio*/
.produto-frete span {
    justify-self: end;
    font-size: 16px;
}

/*observaçoes do produto e total, posição dentro do card*/

.produto-frete p:nth-of-type(2),
.produto-frete span:nth-of-type(2) {
    margin-top: 80px;
}

/*botão de finalizar compra*/
.finalizar-compra {
    width: 100%;
    height: 48px;
    margin-top: 40px;
    border: none;
    border-radius: 13px;
    margin-left: 50px;
    background-color: #705a4c;
    color: #F9F7F5;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;
}

.finalizar-compra:hover {
    background-color: #604b3f;
}

.finalizar-compra:active {
    transform: scale(0.98);
}


/*linha onde se encontra envio e preço*/
.linha {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha p {
    margin: 0;
}

/*mensagem de compra finalizada*/

.compra-finalizada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #6bbf59;
    margin-left: 140px;
    margin-top: 52px;
    border-radius: 13px;
}

.compra-finalizada p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    color: #31572c;
    font-family: 'instrument-sans', sans-serif;
}

.compra-finalizada i {
    color: #31572c;
    font-weight: 600;
}